/* RESET */
* {
    box-sizing: border-box;
}

/* PAGE */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f0f0f;
    font-family: Arial, sans-serif;
    transition: background 1s ease;
}

/* CONTAINER */
.container {
    text-align: center;
}

/* CIRCLE BUTTON */
#startBtn {
   
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: radial-gradient(circle, #ff3b3b, #b30000);
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.6);
    /* animation: pulse 2s infinite;  */
    transition: all 0.5s ease;
}

/* PULSE EFFECT */
@keyframes pulse {
    0% { transform: scale(1); box-shadow: 0 0 30px red; }
    50% { transform: scale(1.08); box-shadow: 0 0 60px red; }
    100% { transform: scale(1); box-shadow: 0 0 30px red; }
}

/* TIMER */
#timer {
    margin-left: -140px;
    margin-bottom: -290px;
    font-size: 36px;
    color: white;
}

/* GOLDEN MODE */
body.golden {
    background: radial-gradient(circle at center, #fff3a0, #f5c400);
}

body.golden #startBtn {
    background: radial-gradient(circle, gold, orange);
    box-shadow: 0 0 80px gold;
    animation: goldenGlow 1.5s infinite;
}

/* GOLDEN ANIMATION */
@keyframes goldenGlow {
    0% { transform: scale(1); }
    50% { transform: scale(1.12); }
    100% { transform: scale(1); }
}

/* GOLDEN TEXT */
#golden {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #6b4f00;
}
